	<center>
		<h3>Thème du moment : LES CHAMPIGNONS</h3>
	</center>
à verser : tout document EN FRANÇAIS sur les sujets en lien avec la permaculture (fascicule, livre, audio, vidéo, article, mindmap, thèse, guide...)
<br>
<div style="text-align:right"> 
	<a href="http://pad.site-coop.net/p/Lien_permabox" target="_blank">Pour transmettre un lien internet</a> / 
	<a href="http://pad.site-coop.net/p/Debug_permabox" target="_blank">Faire une remarque</a>
</div>
